@model List<ProductCartModel>
@{
    decimal totalPrice = Model.Sum(x => x.Price);
    bool isEmpty = !Model.Any();
}

<div class="card text-center">
    <div class="card-header">
        My Cart 
    </div>
    <div class="card-body">
        <h5 class="card-title">Product List</h5>
       
        @if(isEmpty)
        {
            <p>Your cart is empty</p>
        }

        <ol class="list-group list-group-numbered">
            @foreach (var i in Model)
            {
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">
                            @i.Name
                            @if (i.Discount > 0)
                            {
                                <span class="badge bg-primary">SALE</span>
                            }
                        </div>
                        <div class="text-start">
                            <span>@i.CategoryName</span>
                        </div>
                    </div>
                    <span class="badge bg-primary rounded-pill">@i.Price$</span>
                </li>
            }
        </ol>
        <div class="text-end mt-2">
            <a asp-action="Clear" hidden="@isEmpty" class="btn btn-outline-danger btn-sm">Clear Cart</a>
        </div>

        <a href="#" hidden="@isEmpty" class="btn btn-success mt-3">Confirm Order</a>
        <a asp-controller="Home" class="btn btn-outline-primary mt-3">Continue Shopping</a>
    </div>
    <div class="card-footer text-muted">
        Total Price: <span class="badge bg-primary">@totalPrice$</span>
    </div>
</div>