@model List<Product>;

<h1>Products Panel</h1>
<p>Here you can manage all the available products.</p>

<table id="product-table" class="table table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col"></th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Category</th>
            <th scope="col">Discount</th>
            <th scope="col">Status</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var i in Model)
        {
            <tr class="align-middle">
                
                <th scope="row">@i.Id</th>
                <td>
                    <img height="45" src="@i.ImageUrl" alt="Product Image" />
                </td>
                <td>
                    @i.Name
                    @if(i.Discount > 0)
                    {
                        <span class="badge bg-primary">SALE</span>
                    }
                </td>
                <td>@i.Price$</td>
                <td>@(i.Category?.Name ?? "not loaded")</td>
                <td>@i.Discount%</td>
                <td>
                    @if(i.InStock)
                    {
                        <span class="badge bg-success">In Stock</span>
                    }
                    else
                    {
                        <span class="badge bg-secondary">Out of Stock</span>
                    }
                </td>
                <td>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-secondary">
                            <i class="bi bi-info-circle-fill"></i>
                        </button>
                        <button type="button" class="btn btn-warning">
                            <i class="bi bi-pencil-fill"></i>
                        </button>
                        <a asp-action="Delete" asp-route-id="@i.Id" class="btn btn-danger">
                            <i class="bi bi-trash-fill"></i>
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
<p>Count: @Model.Count</p>